/* RESET */
.alex-brush-regular { /* corsivo */
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

.lora { /* stampatello */
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.list-style-none{
  list-style: none;
}

.list-style-circle{
  list-style: circle;
}

.color-green{
  color: #50593C;
}

.bg-green{
  background-color: #50593C;
}

.bg-pink-dark{
  background-color: #9A352A !important;
}

.color-dark-pink{
  color: #9A352A;
}


.bg-light-pink{
  /*background-color: rgba(154, 53, 42, 0.1);*/
  background-color: rgba(184, 198, 173, 0.2);

}

.bg-medium-pink{
  /*background-color: rgba(154, 53, 42, 0.2);*/
  background-color: rgba(184, 198, 173, 0.4);

}

.bg-dark-pink{
  /*background-color: rgba(154, 53, 42, 0.3);*/
  background-color: rgba(184, 198, 173, 0.6);

}


.font-08{
  font-size: 8px;
}

.font-1{
  font-size: 10px;
}

.font-14{
  font-size: 14px;
}

.font-2{
  font-size: 20px;
}

.font-23{
  font-size: 23px;
}

.font-3{
  font-size: 30px;
}

.font-4{
  font-size: 40px;
}

.font-45{
  font-size: 45px;
}

  

*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
}

ul,ol,menu{
list-style: none;
}

img,
iframe,
video{
max-width: 100%;
}

a{
text-decoration: none;
color: currentColor;
}

body{
    background-color: #FEF8F8;
}

body.menu-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
}



/* LAYOVER */
.layover-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* sfondo scuro semi-trasparente */
    color: #FEF8F8;;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    transition: opacity 2s ease;
    background: #FEF8F8;;
    pointer-events: none;
}

.img-flower-right{
    width: 150px;
    right: -50px;
    top: -20px;
    z-index: -1;
}

.flower-container-left{
  position: absolute;
  width: 150px;
  top: -23px;
  left: -50px;
}

.flower-container-right{
  position: absolute;
  width: 150px;
  right: -50px;
  bottom: -70px;
  overflow: hidden;
}


.img-flower-left{
    transform: scaleX(-1);
    z-index: -1;
}

.img-flower-down-right{
  transform: scaleY(-1);
  z-index: -1;
  object-fit: cover;
}

.logo-header{
    width: 120px;
    height: 140px;
}

@media screen and (min-width: 1089px){
    .logo-header{
        width: 170px;
        height: 190px;
    }
}


.main-title{
    color: #50593C;
}

/* HERO BANNER */
.hero-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

  /* Scritta centrata */
  .carousel-title {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;     /* Centra verticalmente */
    justify-content: center; /* Centra orizzontalmente */
    z-index: 10;
    pointer-events: none;
  }

  @media screen and (min-width: 1089px){
    .carousel-title .title_hero_banner{
        font-size: 80px;
    }

    .carousel-title .date_hero_banner{
      font-size: 30px;
    }
  }

  
  .carousel-title .title_hero_banner{
    color: white;
    text-shadow: 7px 7px 9px rgba(0, 0, 0, 1);
    margin: 0;
  }

  .carousel-title .date_hero_banner{
    color: white;
    text-shadow: 7px 7px 9px rgba(0, 0, 0, 1);
    letter-spacing: 2px;
  }
  
  /* Immagini e animazione */
  .carousel-container,
  .carousel-container2 {
    width: 100%;
    overflow: hidden;
    background: #000; /* facoltativo */
  }

  .carousel-track,
  .carousel-track2 {
    display: flex;
    width: max-content;
    animation: scroll 30s linear infinite;
  }

  .carousel-track img {
    width: 33.33vw;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }

  .carousel-track2 img {
    height: 200px; /* Puoi cambiare altezza */
    margin-right: 10px;
    object-fit: cover;
  }

  .carousel-left{
    animation: scroll-left 50s linear infinite;
  }

  .carousel-right{
    animation: scroll-right 50s linear infinite;
  }

  @keyframes scroll-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }

  @keyframes scroll-right {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  @keyframes scrollThreeImages {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100vw); }
  }
  
  li.col-2{
    padding: 10px !important;
    font-size: 10px;
    text-align: center;
    color: #465438;
  }

  @media screen and (min-width: 350px) {
    #backlink{
        display: none !important;
    }
  }


/* COUNTDOWN */
  #countdown {
    text-align: center;
    margin-top: 50px;
    color: #9A352A;
    background-color: rgba(154, 53, 42, 0.06);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .countdown .fiore_1{
    position: absolute;
    width: 30px;
    top: 22px;
    left: 4px;
  }
  /*
  .countdown .fiore_2{
    position: absolute;
    width: 50px;
    top: -20px;
    left: 10px;
  }
  */

  .countdown .fiore_4{
    position: absolute;
    width: 50px;
    top: 0px;
    left: 0px;
  }

  .countdown .fiore_5{
    position: absolute;
    width: 50px;
    top: 0px;
    right: 0px;
  }

  .time-box {
    display: inline-block;
    margin: 0 10px;
    min-width: 60px;
  }

  @media screen and (min-width: 1089px){
    .time-box {
        min-width: 100px;
        font-size: 35px;
    }

    .countdown .fiore_5,
    .countdown .fiore_4{
      width: 90px;
    }

    .countdown .fiore_1{
      top: 50px;
    }

    
  }
  .label {
    font-size: 0.5em;
    display: block;
    margin-top: 5px;
  }


/* NAV */
nav .col-2{
    font-size: 20px;
    cursor: pointer;
}

.hamburger-menu{
  width: 20px;
  height: 20px;
  margin: 10px !important;
  position: absolute;
  left: 0;
  top: 0;
}

.nav-mobile{
  font-size: 25px;
  z-index: 100;
}

.nav-desktop{
  font-size: 30px;
}

.nav-desktop li{
  cursor: pointer;
}

.nav-desktop li p:hover{
  border-bottom: 1px solid #50593C;
}

/* MENU MOBILE */
.menu-mobile{
  width:100vw;
  height: 100vh;
  background-color: #FEF8F8;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}

.menu-mobile ul li{
  z-index: 100;
}

.menu-mobile .flower-container-left{
  position: absolute;
  width: 300px;
  top: -67px;
  left: -118px;
}

.menu-mobile .flower-container-right{
  position: absolute;
  width: 300px;
  right: -102px;
  bottom: -70px;
}


@media screen and (min-width: 1089px){
    nav .col-2{
        font-size: 30px;
    }
}

.swipe-up-icon{
  width: 50px;
  height: 50px;
  color: #50593C;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-8px);
  }
}


.section-title{
  /*font-size: 30px;*/
  color: #50593C;
}

@media screen and (min-width: 1089px) {
  .section-title{
    font-size: 40px;
  }
}



#carouselExample {
  height: 400px; /* altezza fissa del carosello */
  overflow: hidden;
}

#carouselExample .carousel-item {
  height: 100%;
}

#carouselExample .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* fa il "crop" e riempie tutto */
  object-position: center;
}

/*HOME*/

.home_details{
  letter-spacing: 2px;
  color: #50593C;
}

.home_details .container{
  overflow-x: clip;
}

.home_matrimonio_string,
.title_rsvp{
  /*font-size: 60px;*/
  letter-spacing: 4px;
  cursor: pointer;
}

@media screen and (min-width: 1089px){
  #home .flower-container-left,
  #home .flower-container-right {
    width: 300px;
  }

  #home .announcement{
    padding-left: 100px !important;
    padding-top: 60px !important;
  }

  #home .reception{
    margin-right: 100px !important; 
  }

  #home .announcement .font-1,
  #home .reception .font-1{
    font-size: 30px;
  }

  #home .announcement .font-3,
  #home .reception .font-3{
    font-size: 70px;
  }
}



/*
.announcement{
  position: relative;
  top: 200px;
  left: -90px;
}

.reception{
  position: relative;
  top: 100px;
  right: -250px;
}

.img-reception{
  position: relative;
  left:150px;
}
*/

/* DETAILS */
#details h3{
  letter-spacing: 2px;
}

#details p{
  letter-spacing: 1px;
}

#details .col-12{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#details .fiore_4{
  position: absolute;
  width: 100px;
  top: 0;
  left: 0;
}

#details .fiore_4_right{
  position: absolute;
  width: 100px;
  top: 0;
  right: 0;
  transform: scaleX(-1);
}

#details .fiore_4_bottom_right{
  position: absolute;
  width: 100px;
  bottom: 0;
  right: 0;
  transform: scale(-1,-1);
}

#details .fiore_4_bottom_left{
  position: absolute;
  width: 100px;
  bottom: 0;
  left: 0;
  transform: scaleY(-1);
}

#details .downtitle{
  width: 200px;
}



#details .fiore_5{
  position: absolute;
  width: 100px;
  top: 0;
  right: 0;
}

#details .fiore_5_left{
  position: absolute;
  width: 100px;
  top: 0;
  left: 0;
  transform: scaleX(-1);
}

#details .fiore_5_down{
  position: absolute;
  width: 100px;
  bottom: 0;
  left: 0;
  transform: scale(-1, -1);
}


#details .fiore_5_down_right{
  position: absolute;
  width: 100px;
  bottom: 0;
  right: 0;
  transform: scaleY(-1);
}

#details .dress_code_img{
  width: 160px;
  height: 150px;
  object-fit: contain;
}

#details .gift_img{
  width: 120px;
  height: 150px;
  object-fit: contain;
}





/* OUR STORY */
#our_story{
  color: #50593C;
  width: 100vw;
}

#our_story .downtitle{
  width: 200px;
}

.amore_string{
  font-size: 50px;
  /*font-size: 70px;*/
  color: #9A352A;
}

#our_story .la_nostra_stroria_string{
  font-size: 35px;
}

@media screen and (min-width: 1089px){
  #our_story .la_nostra_stroria_string,
  #our_story .amore_string,
  #our_story .insieme_a_voi_string{
    font-size: 60px;
  }

  #our_story .our_story_description{
    font-size: 16px;
  }
}

#our_story .col-3 img{
  width: 100% !important;
  object-fit: cover;
  max-height: 400px;
}

.our_story_description{
  letter-spacing: 1px;
  font-size: 11px;
}

.insieme_a_voi_string{
  color: #9A352A;
  font-size: 50px;
  /*font-size: 70px;*/
}

/* Q & A*/
#q_e_a ul,
#q_e_a h5{
  letter-spacing: 1px;
}

#q_e_a h1{
  color: #9A352A;
}

#q_e_a p{
  color: #50593C;
  letter-spacing: 1px;
}

#q_e_a .response{
  color: #50593C;
}

#q_e_a .downtitle{
  width: 200px;
}


/* HONEYMOON */

#honeymoon .downtitle{
  width: 200px;
  object-fit: contain;
}

.honeymoon_banner{
  position: relative;
}

#honeymoon img:not(.downtitle){
  height: 100px;
  object-fit: cover;
}

@media screen and (min-width: 1089px){
  .honeymoon_description div{
    font-size: 16px !important;
  }

  #honeymoon img:not(.downtitle){
    height: 300px;
  }

  #honeymoon h6.color-green{
    font-size: 18px !important;
  }
}



#honeymoon h6{
  letter-spacing: 2px;
  font-size: 12px;
}

.honeymoon_title{
  color: white;
  position: absolute;
  z-index: 99;
}

.honeymoon_description div{
  letter-spacing: 1px;
  border: 2px solid #9A352A;
  font-size: 11px;
}

.object-position-left img{
  object-position: left !important;
}


/* FOOTER */
footer h6{
  opacity: 0.3;
  font-size: 10px;
}

/* RSVP */
#rsvp .downtitle{
  width: 200px;
}




/* RSVP */
#rsvp .row{
  letter-spacing: 1px;
}

#step1{
  text-align: center;
}

#step1 label,
.rsvp_name_input{
  font-size: 11px;
}

.rsvp_ciao{
  font-size: 14px;
}

#familyName{
  font-size: 16px;
}


#rsvp section{
  width: 90%;
}

#messaggioConferma{
  font-size: 11px;
}

@media screen and (min-width: 1089px){
  #rsvp section{
    width: 600px !important;
  }

  #rsvp .btn-confirm{
    font-size: 16px !important;
  }

  #step1 label,
  .rsvp_name_input{
    font-size: 16px !important;
  }

  #rsvp #error{
    font-size: 16px !important;
  }

  .rsvp_section p{
    font-size: 16px !important;
  }

  #familyMembers{
    font-size: 16px !important;
  }

  #messaggioConferma{
    font-size: 16px;
  }
}


.rsvp_section{
  background-color: rgba(154, 53, 42, 0.06);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-size: 16px;
  letter-spacing: 1px;
}

.rsvp_section p{
  font-size: 11px;
}

.rsvp_name_input{
  width: 100%;
  border-radius: 10px;
  border: unset;
  outline-color: transparent !important;
  padding: 10px !important;
  color: #50593C;
}

#rsvp .btn-confirm{
  border-radius: 10px;
  border-color: transparent;
  padding: 5px !important;
  color: white;
  background-color: #9A352A;
  font-size: 11px;
}

#rsvp .btn-confirm.yes,
#rsvp .btn-confirm.no{
  width: 100px;
}

#familyMembers{
  border: 1px solid #9A352A;
  padding: 10px !important;
  font-size: 11px;
}

.textarea_rsvp{
  color: #50593C;
  outline-color: #50593C;
  width: 100%;
  padding: 10px !important;
  margin-top: 10px;
}

.select_response{
  border-color: 2px solid #9A352A !important;
  outline-color: #9A352A;
}

#rsvp #error{
  font-size: 11px;
  white-space: pre-line;
}

