/* RESET */
.alex-brush-regular { /* corsivo */
  font-family: "Alex Brush", cursive;
  font-weight: 400;
  font-style: normal;
}

.lora { /* stampatello */
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

  

*{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
}

ul,ol,menu{
list-style: none;
}

img,
iframe,
video{
max-width: 100%;
}

a{
text-decoration: none;
color: currentColor;
}

body{
    background-color: #FEF8F8;
}
/*
body{
    background-image: url('../img/FIORI.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
*/

/* LAYOVER */
.layover-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* sfondo scuro semi-trasparente */
    color: #FEF8F8;;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 2s ease;
    background: #FEF8F8;;
}

.img-flower-right{
    width: 150px;
    right: -30px;
    top: -20px;
    z-index: -1;
}

.img-flower-left{
    width: 350px;
    left: -40px;
    top: -120px;
    transform: scaleX(-1);
    z-index: -1;
}

.img-flower-down-right{
  width: 350px;
  position: relative;
  top: 200px;
  right: -180px;
  transform: scaleY(-1);
  z-index: -1;
}

.logo-header{
    width: 120px;
    height: 140px;
}

@media screen and (min-width: 789px){
    .logo-header{
        width: 170px;
        height: 190px;
    }
}


.main-title{
    color: #50593C;
}

/* HERO BANNER */
.hero-banner {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

 
  
  /* Scritta centrata */
  .carousel-title {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;     /* Centra verticalmente */
    justify-content: center; /* Centra orizzontalmente */
    z-index: 10;
    pointer-events: none;
  }

  @media screen and (min-width: 789px){
    .carousel-title .title_hero_banner{
        font-size: 80px;
        text-shadow: 7px 7px 9px rgba(0, 0, 0, 1);
    }

    .carousel-title .date_hero_banner{
      color: white;
      font-size: 30px;
      text-shadow: 7px 7px 9px rgba(0, 0, 0, 1);
      letter-spacing: 2px;
    }
  }

  
  .carousel-title h3 {
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
    margin: 0;
  }
  
  /* Immagini e animazione */
  .carousel-track {
    display: flex;
    width: calc(33.33% * 6);
    animation: scrollThreeImages 19s linear infinite;
  }
  
  .carousel-track img {
    width: 33.33vw;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }
  
  @keyframes scrollThreeImages {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100vw); }
  }
  
  li.col-2{
    padding: 10px !important;
    font-size: 10px;
    text-align: center;
    color: #465438;
  }

  @media screen and (min-width: 350px) {
    #backlink{
        display: none !important;
    }
  }


/* COUNTDOWN */
  #countdown {
    font-size: 2em;
    text-align: center;
    margin-top: 50px;
    color: #A34B3E;
  }
  .time-box {
    display: inline-block;
    margin: 0 10px;
    min-width: 60px;
  }

  @media screen and (min-width: 789px){
    .time-box {
        min-width: 160px;
        font-size: 60px;
    }
  }
  .label {
    font-size: 0.5em;
    display: block;
    margin-top: 5px;
  }


/* NAV */
nav .col-2{
    font-size: 20px;
    cursor: pointer;
}

@media screen and (min-width: 789px){
    nav .col-2{
        font-size: 30px;
    }
}

.swipe-up-icon{
  width: 50px;
  height: 50px;
  color: #50593C;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-8px);
  }
}


.section-title{
  font-size: 30px;
  color: #50593C;
}

@media screen and (min-width: 789px) {
  .section-title{
    font-size: 40px;
  }
}



#carouselExample {
  height: 400px; /* altezza fissa del carosello */
  overflow: hidden;
}

#carouselExample .carousel-item {
  height: 100%;
}

#carouselExample .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover; /* fa il "crop" e riempie tutto */
  object-position: center;
}

/*HOME*/

.home_details{
  letter-spacing: 2px;
  color: #50593C;
}

.home_matrimonio_string,
.title_rsvp{
  font-size: 60px;
  letter-spacing: 4px;
}

.announcement{
  position: relative;
  top: 200px;
  left: -70px;
}

.reception{
  position: relative;
  top: 100px;
  right: -250px;
}

.img-reception{
  position: relative;
  left:150px;
}

/* FOOTER */
/*
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
*/