/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol,menu{
    list-style: none;
}

img,
iframe,
video{
    max-width: 100%;
}

a{
    text-decoration: none;
    color: currentColor;
}
